<h1>Your Current lists</h1>

<% if @lists.any? %>
  <h3>Here are your lists:</h3>

  <ul>
    <% @lists.each do |list| %>
      <li><a href="/list/<%= list.id()%>"><%= list.name %></a> </li>
    <% end %>
  </ul>

<% else %>

    <p>There are no lists yet!</p>

<% end %>


<h2>Add a new task:</h2>
<form action="/task/<%= @task.id %>" method="post">
  <input type="text" name="name">
  <button type="submit">Create Task</button>
</form>

<br>
<div class="container">
  <a href="/"><button class="btn">Return Home</a>
</div>
